body {
	background-color:white;
}
div{
	margin-left:35%;
}
h1 {
	margin-left:35%;
}

section {
	background-color:grey;
	padding:10px;
	width:250px;
}

#input{
	height:30px;
	width:200px;
	font-weight:bolder;
}

#add_txt{
	height:30px;
	background-color:black;
	border:none;
	color:#fff;
}

ol {
	list-style-type:none;
	padding:0px;
	width:240px
}

li {
	width:100%
	background-color:#efd039;
	color:#4d42ab;
	padding:10px 15px;
	border-top:1px solid #000;
}
